h1,
footer {
  font-family: "Bree Serif", serif;
}

body {
  background-color: #c4c3d0;
  font-family: "Roboto", sans-serif;
  max-width: 700px;
  margin: 0 auto;
}

header,
footer {
  background-color: #efd2d2;
  color: #000;
  text-align: center;
  padding: 10px;
}

h2 {
  color: #970c11;
  padding-bottom: 5px;
  border-bottom: 1px solid black;
  margin: 30px 20px 0 20px;
}

nav {
  clear: both;
  margin: 0 0 30px 20px;
  line-height: 2;
}

footer {
  padding: 2px 20px;
}

footer p:first-of-type,
footer a {
  color: #970c11;
}

#last_modified {
  margin-top: -10px;
}
