@media (min-width: 70em) {
  body {
    font-size: 22px;
  }

  header img {
    width: 7rem;
    margin-bottom: 0;
  }

  .navigation {
    display: flex;
  }

  .navigation li {
    display: block; /* change state in small view */
    flex: 1 1 auto;
  }

  .navigation .menu,
  #closeBtn {
    display: none;
  }

  nav ul {
    padding-left: 1rem;
  }
  nav ul li {
    flex: 1 1 auto;
  }

  nav a {
    padding: 0.5rem 1rem;
  }

  main p {
    background-color: #023373;
  }
}
