@media (min-width: 70em) {
  header img {
    width: 8rem;
  }

  .navigation {
    display: flex;
  }

  .navigation li:first-child {
    display: none;
  }

  .navigation li {
    display: block; /* change state in small view */
    flex: 1 1 auto;
  }

  nav ul {
    padding-left: 1rem;
  }
  nav ul li {
    flex: 1 1 auto;
  }

  nav a {
    padding: 0.5rem 1rem;
  }

  main,
  footer {
    max-width: 65em;
  }

  main p {
    background-color: #023373;
  }
}
