@media (min-width: 42em) {
  body {
    font-size: 20px;
  }

  header img {
    width: 6rem;
    margin-right: 0;
  }

  header h1 {
    align-self: center;
    margin-left: 2rem;
  }

  .navigation {
    display: flex;
  }

  .navigation li {
    display: block; /* change state in small view */
    flex: 1 1 auto;
  }

  .navigation .menu,
  #closeBtn {
    display: none;
  }

  .forecast-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 60%;
    margin: 1.5rem auto;
  }

  .article-pic {
    width: 40%;
    float: right;
    margin: 1.4rem 2rem 0 1rem;
  }

  article p {
    font-size: 1.2rem;
  }

  .contact-box {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
  }

  .location-map {
    display: block;
    margin-right: 2rem;
  }

  .social {
    grid-column: 2/3;
    margin: -9rem -1.5rem 0 -0.5rem;
  }

  /**************** Styling Gallery Page *******************/
  div.gallery-container {
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 2rem;
    margin: 0 4rem;
  }

  div .gallery-box {
    width: 22rem;
  }
}
