@media (min-width: 70em) {
  body {
    font-size: 22px;
  }

  header img {
    width: 7rem;
    margin-bottom: 0;
  }

  nav ul {
    padding-left: 1rem;
  }
  nav ul li {
    flex: 1 1 auto;
  }

  nav a {
    padding: 0.5rem 1rem;
  }
}
