@media (min-width: 38em) {
  body {
    font-size: 20px;
  }

  header {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  header img {
    width: 6rem;
  }

  header h1 {
    align-self: center;
    margin-left: 2rem;
  }
}
