@media (min-width: 70em) {
  header {
    background-position: 25% 75%;
  }

  .mobile-nav {
    display: none;
  }

  .main-nav {
    display: flex;
    justify-content: space-between;
  }

  .main-nav li {
    padding: 0 1em;
  }

  .forecast-container,
  .ads-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column: 1/3;
  }

  .forecast-container:nth-of-type(4) {
    border-bottom: 1px solid hsla(0, 0%, 80%, 0.7);
  }
}
