@media (min-width: 70em) {
  header {
    background-position: 25% 75%;
  }

  .mobile-nav {
    display: none;
  }

  .main-nav {
    display: flex;
    justify-content: space-between;
  }

  .main-nav li {
    padding: 0 1em;
  }

  .forecast-container,
  .ads-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column: 1/3;
  }

  .forecast-container:nth-of-type(4) {
    border-bottom: 1px solid hsla(0, 0%, 80%, 0.7);
  }

  /******** Style City Page ************/
  .demographic-container {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .promotion-container {
    grid-template-columns: 2fr 1fr 1fr;
  }

  .current-events {
    grid-column: 3/4;
  }

  .month:nth-of-type(2),
  .month:nth-of-type(6) {
    margin-top: -1.6rem;
  }

  .month:nth-of-type(4) {
    margin-top: -0.8rem;
  }

  .month:nth-of-type(8) {
    margin-top: -3.8rem;
  }

  /******** Style Join Page ************/
  .membership-container {
    grid-template-columns: repeat(4, 1fr);
  }

  .join-form-container {
    grid-template-columns: 2fr 1fr;
  }

  .join-form {
    grid-column: 1/2;
    grid-row: 2;
  }

  .join-image {
    display: block;
    grid-column: 2/3;
    grid-row: 2;
  }

  .submitBtn {
    grid-column: 1/2;
  }

  /********* Style Contact Page ********/
  .contact {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
  }
  .directors-list-container {
    height: 200px;
    grid-column: 2/3;
    font-size: 0.9rem;
    width: 100%;
  }
}
