@media (min-width: 40em) {
  #alerts.open {
    display: block;
  }

  #overlay.open {
    display: block;
  }

  header {
    grid-template-columns: 2fr 1fr 2fr;
    justify-items: center;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 1;
  }

  home-main {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  header,
  .purpose-container,
  .ads-container {
    padding-bottom: 1.5rem;
  }

  .logo {
    width: 100%;
  }

  .home-hero-container,
  .purpose-container,
  .events,
  .city-hero-container,
  .join-hero-container,
  .directory-hero-container,
  .contact-hero-container {
    grid-column: 1/-1;
  }

  nav {
    grid-column: 2/3;
    grid-row: 1;
    font-size: 1.2rem;
    padding: 1rem;
    width: 100%;
  }

  .home-hero-content {
    font-size: 3em;
    margin-bottom: -8rem;
  }

  .thanks-content .thanks-heading,
  .contact-hero-content,
  .city-hero-content,
  .join-hero-content,
  .directory-hero-content {
    font-size: 3rem;
  }

  .call-to-action {
    padding: 1rem;
    margin-bottom: 4rem;
  }

  .current-weather {
    grid-row: 1;
    grid-column: 3/4;
    justify-self: center;
    margin: -1rem 0;
    transform: scale(1);
  }

  .current-weather h1 {
    margin-left: 1rem;
  }

  .call-to-action a {
    font-size: 1.5em;
  }

  .purpose-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
  }

  .purpose-title,
  .purpose-content {
    grid-column: 1/-1;
  }

  .carousel {
    margin-right: 1rem;
  }

  .home-contact-info {
    align-self: center;
    text-align: left;
  }

  .events-container {
    padding: 0 2rem;
  }

  .forecast-container {
    display: block;
    max-width: 1200px;
    margin: 2rem auto;
  }

  .forecast-container:nth-of-type(4) {
    border-bottom: none;
  }

  .forecast-heading {
    grid-column: 2/3;
    grid-row: 1;
  }

  .forecast-card {
    display: grid;
    grid-template-columns: 1fr;
    grid-row: 2;
    justify-items: center;
    padding: 1rem 0;
  }

  .day {
    font-size: 1.5em;
    font-weight: 900;
    grid-column: 1/-1;
  }

  .high-temp,
  .low-temp {
    grid-column: 1/-1;
    grid-row: 3;
  }

  .high-temp {
    margin-left: -2.5rem;
    font-size: 1em;
  }

  .low-temp {
    margin-left: 3.5rem;
  }

  .forecast-card img {
    grid-row: 2;
    padding-left: 0;
  }

  .forecast-condition {
    justify-self: center;
    padding: 0.5rem;
    color: #05098a;
  }

  .ads-container {
    display: block;
    max-width: 1200px;
  }

  .ads-heading {
    grid-column: 2/3;
    grid-row: 1;
  }

  .ads-container div {
    grid-row: 2;
  }

  .location-map {
    display: block;
  }

  /******** Styling City Page ***************/
  .demographic-container {
    grid-template-columns: 1fr 1fr;
  }

  .promotion-container {
    grid-template-columns: 2fr 1fr;
  }

  .current-events {
    grid-column: 2/3;
  }

  .month:nth-of-type(2) {
    margin-top: -0.8rem;
  }

  .month:nth-of-type(4) {
    margin-top: -0.2rem;
  }

  .month:nth-of-type(6) {
    margin-top: -1rem;
  }

  .month:nth-of-type(8) {
    margin-top: -1.8rem;
  }

  .date, 

  /******** Styling Directory page *********/

  .directory-container {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 4fr;
    max-width: 1200px;
    width: 100%;
  }

  .directory-heading {
    grid-column: 1/-1;
    grid-row: 1;
  }

  #list-icon,
  #grid-icon {
    display: block;
    grid-column: 1/-1;
    grid-row: 1;
  }

  #grid-icon {
    margin-right: 7rem;
  }

  #grid-icon:hover,
  #list-icon:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.5s;
  }

  .directory-card-container {
    display: grid;
    grid-column: 1/-1;
    grid-template-columns: repeat(auto-fit, minmax(325px, 1fr));
  }

  .list-card-container {
    grid-template-columns: 1fr;
    justify-content: space-evenly;
  }

  .list-card {
    display: grid;
    grid-template-columns: 2fr 2fr 2.5fr 1fr 1fr;
    padding: 0.5rem;
    margin-bottom: -0.5rem;
    width: 100%;
    border-radius: 0;
    text-align: left;
    border: none;
    border-top: 2px solid #999;
  }

  .list-card .directory-icon {
    display: none;
  }

  .list-card .directory-url {
    display: block;
  }

  .list-card .directory-name {
    grid-column: 1/2;
    grid-row: 1;
  }

  .list-card a {
    grid-column: 2/3;
  }

  .list-card .directory-address {
    grid-column: 3/4;
  }

  .list-card:last-of-type {
    margin-bottom: 1.5rem;
  }

  /************ Style Join Page ****************/
  .membership-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .membership-heading {
    grid-column: 1/-1;
    grid-row: 1;
  }

  .join-form-container h3 {
    grid-column: 1/-1;
    grid-row: 1;
  }

  .join-form-container {
    grid-template-columns: 1fr 1fr;
    /* max-width: 100%; */
  }

  .join-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: 1/-1;
    grid-row: 2;
  }

  form label.join-top input,
  form label.join-top select {
    max-width: 22rem;
    width: 95%;
  }

  form label.join-top + .join-top {
    margin-top: 0.1rem;
  }

  .submitBtn {
    grid-column: 1/-1;
    grid-row: 4;
    margin: 0 auto;
  }

  /************* Style Contact page **************/
  .directors-list-container {
    width: 80%;
    grid-template-columns: 2fr 1fr;
  }

  .directors-list {
    grid-column: 1/-1;
  }

  .contact-form-container {
    width: 80%;
    margin: 1rem auto;
    padding: 1rem;
    color: #03064d;
  }

  main.thanks-main h2 {
    font-size: 3rem;
  }

  main.thanks-main p {
    font-size: 1.5rem;
  }

  .attribution-main h2 {
    font-size: 3rem;
  }
}
