@media (min-width: 40em) {
  header {
    grid-template-columns: 2fr 0.8fr 2fr;
    justify-items: center;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 1;
  }

  home-main {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  header,
  .purpose-container,
  .ads-container {
    padding-bottom: 1.5rem;
  }

  .home-hero-container,
  .purpose-container,
  .events,
  .city-hero-container,
  .join-hero-container,
  .directory-hero-container,
  .contact-hero-container {
    grid-column: 1/-1;
  }

  nav {
    grid-column: 2/3;
    grid-row: 1;
    font-size: 1.2rem;
  }

  .home-hero-content {
    font-size: 3em;
    margin-bottom: -10rem;
  }

  .current-weather {
    grid-row: 1;
    grid-column: 3/4;
    justify-self: center;
    margin: -1rem 0;
    transform: scale(1);
  }

  .current-weather h1 {
    margin-left: 1rem;
  }

  .call-to-action a {
    font-size: 1.5em;
  }

  .events-container {
    padding: 0 2rem;
  }

  .forecast-container {
    display: block;
    max-width: 1200px;
    margin: 2rem auto;
  }

  .forecast-container:nth-of-type(4) {
    border-bottom: none;
  }

  .forecast-heading {
    grid-column: 2/3;
    grid-row: 1;
  }

  .forecast-card {
    display: grid;
    grid-template-columns: 1fr;
    grid-row: 2;
    justify-items: center;
    padding: 1rem 0;
  }

  .day {
    font-size: 1.5em;
    font-weight: 900;
    grid-column: 1/-1;
  }

  .high-temp,
  .low-temp {
    grid-column: 1/-1;
    grid-row: 3;
  }

  .high-temp {
    margin-left: -2.5rem;
    font-size: 1em;
  }

  .low-temp {
    margin-left: 3.5rem;
  }

  .forecast-card img {
    grid-row: 2;
    padding-left: 0;
  }

  .forecast-condition {
    justify-self: center;
    padding: 0.5rem;
    color: #05098a;
  }

  .ads-container {
    display: block;
    max-width: 1200px;
  }

  .ads-heading {
    grid-column: 2/3;
    grid-row: 1;
  }

  .ads-container div {
    grid-row: 2;
  }

  .location-map {
    display: block;
  }

  .contact-info,
  .social {
    justify-self: left;
    text-align: left;
  }

  /******** Styling Directory page *********/

  .directory-container {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 4fr;
    max-width: 1200px;
    width: 100%;
  }

  .directory-heading {
    grid-column: 1/-1;
    grid-row: 1;
  }

  #list-icon,
  #grid-icon {
    display: block;
    grid-column: 1/-1;
    grid-row: 1;
  }

  #grid-icon {
    margin-right: 7rem;
  }

  #grid-icon:hover,
  #list-icon:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.5s;
  }

  .directory-card-container {
    display: grid;
    grid-column: 1/-1;
    grid-template-columns: repeat(auto-fit, minmax(325px, 1fr));
  }

  .list-card-container {
    grid-template-columns: 1fr;
    justify-content: space-evenly;
  }

  .list-card {
    display: grid;
    grid-template-columns: 2fr 2fr 2.5fr 1fr 1fr;
    padding: 0.5rem;
    margin-bottom: -0.5rem;
    width: 100%;
    border-radius: 0;
    text-align: left;
    border: none;
    border-top: 2px solid #999;
  }

  .list-card .directory-icon {
    display: none;
  }

  .list-card .directory-url {
    display: block;
  }

  .list-card .directory-name {
    grid-column: 1/2;
    grid-row: 1;
  }

  .list-card a {
    grid-column: 2/3;
  }

  .list-card .directory-address {
    grid-column: 3/4;
  }

  .list-card:last-of-type {
    margin-bottom: 1.5rem;
  }
}
