* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: #fff;
}

body {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
}

.purpose-content {
  font-family: "Lora", serif;
}

/*********** Styling a modal on top of the page***********/

#alerts.open {
  display: block;
}

#overlay.open {
  display: block;
}

#alerts {
  display: none;
  position: absolute;
  min-width: 275px;
  max-width: 800px;
  top: 25%;
  left: 50%;
  transform: translate(-50%, 0);
  border: 1px solid black;
  padding: 1rem;
  border-radius: 0.25rem;
  background-color: white;
  z-index: 2;
}

#alerts-content,
#alerts-title {
  padding-bottom: 0.5rem;
}

#overlay {
  display: none;
  position: absolute;
  /* inset: 0; */
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 1;
}

#alerts-title {
  text-align: center;
}

#close-alerts-btn {
  padding: 10px 0;
  min-width: 100px;
  float: right;
}

/*********** Styling Header***********/

header,
.purpose-container,
.ads-container,
.directory-container {
  padding: 1rem 1rem 0 1rem;
  margin: 0 auto;
}

.purpose-container,
.ads-container {
  max-width: 1200px;
  width: 100%;
}

header {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

nav {
  grid-column: 2/3;
  grid-row: 1/3;
  justify-self: center;
  width: 90%;
  padding: 1rem;
  height: 80px;
  z-index: 1;
}

nav ul {
  text-align: center;
}

.nav-btn,
.main-nav {
  display: none;
}

.mobile-nav {
  grid-row: 2/3;
  grid-column: 2/3;
}

.mobile-nav .responsive {
  display: block;
  opacity: 1;
}

.mobile-nav li,
.main-nav li {
  list-style-type: none;
}

nav a {
  color: #05098a;
  text-decoration: none;
  display: block;
  padding: 0.8rem 0; /* 44 min height */
  font-size: 1em;
  line-height: 0.8;
  background-color: #fff;
}

nav a:hover {
  border-bottom: 5px solid #131af6;
  cursor: pointer;
}

.active {
  font-weight: 900;
  border-bottom: 5px solid #131af6;
}

.current-weather {
  max-width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column: 1/2;
  align-self: center;
  justify-self: left;
  transform: scale(0.8);
}

.weather-icon,
.temp-symbol,
.current-condition,
.humidity {
  justify-self: center;
}

.current-weather h1 {
  grid-column: 1/-1;
  font-size: 1rem;
  margin: 1rem 1rem 0 1rem;
}

.temp-symbol {
  align-self: center;
}

#current-temp {
  font-size: 2rem;
  font-weight: 900;
}

.current-condition,
.humidity-container {
  font-size: 0.9rem;
}

/*********** Styling Home page Main***********/

.home-hero-container,
.city-hero-container,
.join-hero-container,
.directory-hero-container,
.contact-hero-container {
  background-size: cover;
  color: white;
  display: grid;
  isolation: isolate;
  min-height: 35vh;
  position: relative;
  background-color: #05098a;
}

.home-hero-container {
  background-image: url("../images/hero-images/home-hero.jpg");
}

.home-hero-content,
.call-to-action {
  justify-self: center;
  align-self: center;
  color: #fff;
}

.home-hero-content {
  font-size: 1.5em;
}

.home-hero-container::after,
.city-hero-container::after,
.join-hero-container::after,
.directory-hero-container::after,
.contact-hero-container::after {
  content: "";
  position: absolute;
  /* inset: 0; */
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  opacity: 0.8;
  mix-blend-mode: multiply;
}

.home-hero-container::after {
  background: linear-gradient(-45deg, #555af7, #05098a);
}

.call-to-action a {
  font-size: 1.5em;
  padding: 1em;
  border-radius: 35px;
  background-color: #9fb4fa;
  text-decoration: none;
  color: #05098a;
}

.call-to-action a:hover {
  transform: scale(1.1);
  background-color: #05098a;
  color: #fff;
}

.purpose-title,
.purpose-content {
  line-height: 1.8;
  color: #05098a;
  background-color: #fff;
}

.purpose-title,
.ads-container {
  text-align: center;
}

.events-container {
  display: grid;
  background-color: #ebecfe;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  max-width: 100%;
  justify-items: center;
  margin-bottom: 3rem;
}

.events-title {
  display: block;
  background: #ebecfe;
  width: 100%;
  padding: 2rem 0 1rem 0;
  color: #05098a;
  text-align: center;
}

.events-card {
  width: 80%;
  padding: 1rem;
}

.events-card:hover {
  box-shadow: 0 0 20px 2px #aaa;
}

.events-img img {
  width: 100%;
}

.events-content,
.events-date {
  padding: 0 1rem;
}

.events-location {
  padding: 0.8rem 1rem 0.2rem 1rem;
}

.events-date {
  color: #05098a;
  font-weight: 800;
}

.forecast-container,
.ads-container {
  display: grid;
  width: 90%;
  margin: 0 auto;
}

.forecast-heading,
.ads-heading {
  margin-bottom: 1rem;
  text-align: center;
  width: 100%;
  color: #05098a;
}

.forecast-card {
  display: grid;
  grid-template-columns: 2fr 1.5fr 0.5fr 2fr 2fr;
  align-items: center;
  justify-items: start;
  border-top: 1px solid hsla(0, 0%, 80%, 0.7);
}

.forecast-card img {
  padding: 5px 0 5px 40px;
}

.forecast-condition {
  justify-self: end;
}

.high-temp {
  margin-left: 0;
  font-size: 1.2rem;
  font-weight: 900;
}

.ads-heading > span {
  font-size: 1rem;
}

/************ Styling footer starts below*************/
footer {
  width: 100%;
  font-size: 1rem;
  text-align: center;
  background-color: #03064d;
  color: #fff;
  line-height: 1.5;
}

footer p:first-child {
  margin-bottom: 1rem;
}

footer a {
  color: #fff;
  text-decoration: none;
}

span#different-days {
  font-size: 0.8rem;
  margin-top: 0.5rem;
  color: #fff;
}

footer a:hover,
footer p span#currentDate {
  color: #fff;
}

.contact-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.location-map {
  display: none;
  margin-right: 2rem;
  justify-self: right;
  grid-row: 1/3;
  margin: 1rem;
}

.contact-info,
.social {
  justify-self: center;
  text-align: center;
  align-self: center;
  margin: 1rem;
}

.social {
  grid-column: 2/3;
}

.social img {
  border-radius: 4px;
  margin-right: 10px;
}

/************* Styling City Page ************/
.city-hero-container {
  background-image: url("../images/hero-images/city-hero.jpg");
}

.city-hero-container::after {
  background: linear-gradient(-45deg, #55bcf7, #295d7a);
}

/************* Styling join Page ************/
.join-hero-container {
  background-image: url("../images/hero-images/join-hero.jpg");
  background-position: 50% 25%;
}

.join-hero-container::after {
  background: linear-gradient(-45deg, #55f7cf, #29816b);
}

/************* Styling Directory Page ****************/
.directory-hero-container {
  background-image: url("../images/hero-images/directory-hero.jpg");
  background-position: 45% 55%;
}

.directory-hero-container::after {
  background: linear-gradient(-45deg, #ceee17, #70810c);
}

.directory-card-container {
  display: block;
  width: 100%;
  text-align: center;
}

.directory-card {
  margin: 1rem;
  padding: 1rem;
  border: 1px solid #999;
  border-radius: 20px;
  line-height: 1.5;
}

#list-icon,
#grid-icon {
  display: none;
}

.directory-heading {
  text-align: center;
}

.directory-icon {
  display: inline;
  margin-bottom: 1rem;
}

.directory-url {
  display: none;
}

/********** Styling Thanks page of Contact page below**********/
main.thanks-main h2,
main.thanks-main p {
  font-family: "Merriweather Sans", sans-serif;
  text-align: center;
}

main.thanks-main h2 {
  margin: 5rem 0 2rem 0;
  font-size: 1.4rem;
}

main.thanks-main p {
  margin-bottom: 15rem;
}
