* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: #fff;
}

body {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
}

.purpose-content,
.city-history p {
  font-family: "Lora", serif;
  text-align: center;
  margin: 0 1rem;
}

/*********** Styling a modal on top of the page***********/

#alerts.open {
  display: none;
}

#overlay.open {
  display: none;
}

#alerts {
  display: none;
  position: fixed;
  max-width: 00px;
  min-width: 500px;
  top: 5%;
  left: 50%;
  transform: translate(-50%, 0);
  color: #fff;
  border: 1px solid #000;
  padding: 1rem;
  border-radius: 0.25rem;
  background-color: #03064d;
  z-index: 10;
}

#alerts-content,
#alerts-title {
  padding-bottom: 0.5rem;
  text-align: justify;
  line-height: 1.6;
}

#alerts-content a,
#alerts-content a:visited {
  color: #fff;
}

#overlay {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 5;
}

#close-alerts-btn {
  padding: 10px 0;
  width: 100px;
  position: relative;
  border: #999;
}

#close-alerts-btn:hover {
  background-color: rgba(66, 85, 248, 0.75);
  color: #fff;
}

/*********** Styling Header***********/

header,
.purpose-container,
.ads-container,
.directory-container {
  padding: 1rem 1rem 0 1rem;
  margin: 0 auto;
}

.purpose-container,
.ads-container {
  max-width: 1200px;
  width: 100%;
}

.purpose-container {
  display: grid;
  grid-template-columns: 1fr;
}

.home-contact-info {
  text-align: center;
  margin: 2rem 0 -1rem 0;
  line-height: 1.5;
  color: #05098a;
}

header {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
}

.logo {
  width: 80%;
}

nav {
  grid-column: 2/3;
  grid-row: 1/3;
  justify-self: center;
  width: 65%;
  height: 80px;
  z-index: 1;
  padding: 0;
  text-align: center;
}

.nav-btn,
.main-nav {
  display: none;
}

.mobile-nav {
  grid-row: 2/3;
  grid-column: 2/3;
}

.mobile-nav .responsive {
  display: block;
  opacity: 1;
}

.mobile-nav li,
.main-nav li {
  list-style-type: none;
}

nav a {
  color: #05098a;
  text-decoration: none;
  display: block;
  padding: 0.8rem 0; /* 44 min height */
  font-size: 1em;
  line-height: 0.8;
  background-color: #fff;
}

nav a:hover {
  border-bottom: 5px solid #131af6;
  cursor: pointer;
}

.active {
  font-weight: 900;
  border-bottom: 5px solid #131af6;
}

.current-weather {
  max-width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column: 1/2;
  gap: 0.5rem;
  align-self: center;
  justify-self: left;
  transform: scale(0.8);
}

.weather-icon,
.current-condition,
.humidity {
  justify-self: center;
}

.current-weather h1 {
  grid-column: 1/-1;
  font-size: 1rem;
  margin: 1rem 1rem 0 1rem;
}

.temp-symbol {
  align-self: center;
}

#current-temp {
  font-size: 2rem;
  font-weight: 900;
}

.current-condition,
.humidity-container {
  font-size: 0.9rem;
}

/*********** Styling Home page Main***********/

.home-hero-container,
.city-hero-container,
.join-hero-container,
.thanks-container,
.thanks-main,
.attribution-main,
.directory-hero-container,
.contact-hero-container {
  background-size: cover;
  color: white;
  display: grid;
  isolation: isolate;
  min-height: 35vh;
  position: relative;
  background-color: #05098a;
}

.home-hero-container {
  background-image: url("../images/hero-images/home-hero.jpg");
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.home-hero-content,
.call-to-action,
.city-hero-content,
.contact-hero-content,
.directory-hero-content,
.join-hero-content {
  justify-self: center;
  align-self: center;
  color: #fff;
  text-align: center;
}

.home-hero-content,
.city-hero-content,
.contact-hero-content,
.directory-hero-content,
.join-hero-content {
  font-size: 1.5em;
  margin-bottom: -5rem;
}

.call-to-action {
  margin-bottom: 5rem;
}

.home-hero-container::after,
.city-hero-container::after,
.join-hero-container::after,
.thanks-container::after,
.thanks-main::after,
.attribution-main::after,
.directory-hero-container::after,
.contact-hero-container::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  opacity: 0.8;
  mix-blend-mode: multiply;
}

.home-hero-container::after {
  background: linear-gradient(-45deg, #555af7, #05098a);
}

.call-to-action a {
  padding: 0.6em;
  font-size: 0.8rem;
  font-weight: 900;
  border-radius: 35px;
  background-color: #9fb4fa;
  text-decoration: none;
  color: #05098a;
}

.call-to-action a:hover {
  transform: scale(1.1);
  background-color: #05098a;
  color: #fff;
}

.purpose-title,
.city-history h2,
.city-history p,
.purpose-content {
  line-height: 1.6;
  color: #05098a;
  background-color: #fff;
}

.purpose-title,
.ads-container,
.city-history h2 {
  text-align: center;
}

.home-carousel-content {
  display: grid;
  flex-direction: column;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: center;
  margin: 1rem auto 2rem auto;
  max-width: 900px;
}

.carousel {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  height: 400px;
  max-width: 900px;
  overflow: hidden;
  position: relative;
  background-color: hsl(214, 97%, 23%);
  margin-right: 0;
}

.image-card {
  display: flex;
  transform: translateX(0);
  transition: transform 0.5s ease-in-out;
}

.image-card img {
  object-fit: cover;
  width: 100%;
}

.carousel .prev,
.carousel .next {
  position: absolute;
  background-color: #fff;
  top: 50%;
  font-size: 1.5rem;
  margin-top: -22px;
  padding: 10px;
  color: #fff;
  background-color: transparent;
  border: none;
  border-radius: 0 6px 6px 0;
  cursor: pointer;
  transition: 1s;
}

.carousel .next {
  right: 0;
  border-radius: 6px 0 0 6px;
}

.carousel .prev:hover,
.carousel .next:hover {
  background-color: #000;
}

.home-carousel-content,
.city-carousel-content {
  margin: 2rem auto;
}

.events-wrapper,
.demographic-wrapper {
  display: flex;
  justify-content: center;
  background-color: #ebecfe;
  max-width: 100%;
}

.events-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  justify-items: center;
  max-width: 1200px;
  width: 100%;
}

.events-title {
  display: block;
  background: #ebecfe;
  width: 100%;
  padding: 2rem 0 1rem 0;
  color: #05098a;
  text-align: center;
}

.events-card {
  width: 80%;
  padding: 1rem;
}

.events-card:hover {
  box-shadow: 0 0 20px 2px #aaa;
}

.events-img img {
  width: 100%;
}

.events-content,
.events-date {
  padding: 0 1rem;
}

.events-location {
  padding: 0.8rem 1rem 0.2rem 1rem;
}

.events-date {
  color: #05098a;
  font-weight: 800;
}

.forecast-container,
.ads-container {
  display: grid;
  width: 90%;
  margin: 0 auto;
}

.forecast-heading,
.ads-heading,
.demographic-container h2 {
  margin: 2rem 0 1rem 0;
  text-align: center;
  width: 100%;
  color: #05098a;
}

.forecast-card {
  display: grid;
  grid-template-columns: 2fr 1.5fr 0.5fr 2fr 2fr;
  align-items: center;
  justify-items: start;
  border-top: 1px solid hsla(0, 0%, 80%, 0.7);
}

.forecast-card img {
  padding: 5px 0 5px 40px;
}

.forecast-condition {
  justify-self: end;
}

.high-temp {
  margin-left: 0;
  font-size: 1.2rem;
  font-weight: 900;
}

.ads-heading > span {
  font-size: 1rem;
}

/************ Styling footer starts below*************/
footer {
  width: 100%;
  font-size: 1rem;
  text-align: center;
  background-color: #03064d;
  color: #fff;
  line-height: 1.5;
  padding: 2rem 0;
}

footer p:first-child {
  margin-bottom: 1rem;
}

footer a {
  color: #fff;
  text-decoration: none;
}

span#different-days {
  font-size: 0.8rem;
  margin-top: 0.5rem;
  color: #fff;
}

footer a:hover,
footer p span#currentDate {
  color: #ffff00;
}

.contact-container {
  display: grid;
  justify-content: center;
}

.social img {
  border-radius: 4px;
  margin: 1rem;
}

/************* Styling City Page ************/
.city-hero-container {
  background-image: url("../images/hero-images/city-hero.jpg");
}

.city-hero-container::after {
  background: linear-gradient(-45deg, #55bcf7, #295d7a);
}

.city-hero-content {
  align-self: end;
  margin: 2rem 0 1rem 0;
}

.city-hero-container p {
  text-align: center;
}

.city-history {
  max-width: 1200px;
  margin: 1.5rem auto;
}

.demographic-container {
  display: grid;
  grid-template-columns: 1fr;
  max-width: 1400px;
  margin: 1rem auto;
}

.demographic-container h2 {
  grid-column: 1/-1;
}

.demographic-card {
  gap: 1rem;
  margin: 1rem;
}
.demographic-heading,
.demographic-content {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  border-top: 1px solid hsla(0, 0%, 80%, 1);
  padding: 0.5rem;
}

.demographic-content {
  font-size: 0.8rem;
}

.promotion-container {
  max-width: 1200px;
  display: grid;
  grid-template-columns: 1fr;
  margin: 2rem auto;
  font-family: "Open Sans", sans-serif;
  color: #05098a;
  gap: 1rem;
}

.byui-video,
.city-video,
.current-events {
  border: 1px solid hsla(0, 0%, 80%, 1);
  border-radius: 24px;
  padding: 1.5rem;
  margin: 0 1rem;
}

.byui-video iframe {
  max-width: 560px;
  width: 100%;
}

.city-video {
  max-width: 400px;
  margin: 0 auto;
}

.byui-video h3,
.city-video h3,
.current-events h3 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.city-video img {
  width: 100%;
  margin: 0.8rem 0 2rem 0;
}

.current-events {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.month {
  font-size: 0.8rem;
}

.month:nth-of-type(2),
.month:nth-of-type(4),
.month:nth-of-type(6) {
  margin-top: 0;
}

.month:nth-of-type(8) {
  margin-top: -0.7rem;
}

.date {
  font-size: 1.3rem;
  font-weight: 700;
}

.date,
.name {
  margin-top: 1rem;
}

.month,
.date {
  grid-column: 1/2;
  justify-self: flex-start;
  align-self: flex-start;
  color: #05098a;
  margin-right: 1rem;
}

.current-events h3 {
  grid-column: 1/-1;
}

.current-events a {
  align-self: flex-start;
}

.current-events a:nth-of-type(1) {
  grid-column: 2/3;
  grid-row: 2/3;
}

.current-events a:nth-of-type(2) {
  grid-column: 2/3;
  grid-row: 4/5;
}

.current-events a:nth-of-type(3) {
  grid-column: 2/3;
  grid-row: 6/7;
}

.current-events a:nth-of-type(4) {
  grid-column: 2/3;
  grid-row: 8/9;
}

/************* Styling join Page ************/
.join-hero-container {
  background-image: url("../images/hero-images/join-hero.jpg");
  background-position: 50% 25%;
}

.join-hero-container::after {
  background: linear-gradient(-45deg, #55f7cf, #29816b);
}

.join-hero-content {
  align-self: end;
  margin-bottom: 1rem;
}

.join-hero-container p,
.city-hero-container p {
  text-align: center;
  font-size: 1.4rem;
}

.membership-container {
  display: grid;
  grid-template-columns: 1fr;
  max-width: 1200px;
  width: 80%;
  margin: 2rem auto;
  gap: 1rem;
  color: #03064d;
}

.membership-heading {
  text-align: center;
}

.membership-card {
  border: 2px solid hsla(0, 0%, 67%, 0.6);
  padding: 2rem;
}

.membership-level,
.membership-price {
  text-align: center;
  font-size: 1.8rem;
  line-height: 2.5;
}

.membership-price {
  font-size: 1.2rem;
  margin-bottom: 3rem;
}

.membership-level {
  border-bottom: 1px solid hsla(0, 0%, 67%, 0.7);
}

.membership-list {
  background-color: rgb(107, 172, 224);
  color: #000;
  padding: 1.5rem 1rem;
  margin: 0 -2rem -2rem -2rem;
  list-style: none;
  line-height: 1.2;
}

.membership-card:nth-of-type(1) .membership-content:first-of-type {
  margin-bottom: 24px;
}

.membership-card:nth-of-type(2) .membership-content:first-of-type,
.membership-card:nth-of-type(3) .membership-content:first-of-type,
.membership-card:nth-of-type(4) .membership-content:first-of-type {
  font-weight: 900;
  font-size: 1.2rem;
}

.membership-content + .membership-content {
  margin-top: 1rem;
}

.join-form-container {
  display: grid;
  margin: 5rem auto;
  width: 80%;
  max-width: 1200px;
  gap: 1rem;
}

form label.join-top {
  display: block;
  color: hsl(214, 97%, 10%);
  font-size: 1rem;
}

form label.join-top + .join-top {
  margin-top: 0.8rem;
}

form label.join-top:last-of-type {
  margin-bottom: 1rem;
}

form label.join-top input,
form label.join-top select {
  -webkit-appearance: none;
  display: block;
  font-size: 1rem;
  border: none;
  border-bottom: solid 3px #aaa;
  padding: 0.5rem;
  color: hsl(214, 97%, 10%);
  width: 100%;
  max-width: 30rem;
  background-color: hsla(214, 97%, 23%, 0.2);
  line-height: 1.2;
}

form label.join-top input:required {
  background: hsla(11, 78%, 34%, 0.2);
}
form label.join-top input:required:valid {
  background: hsla(214, 97%, 23%, 0.2);
}

.join-image {
  display: none;
}

.join-social {
  justify-self: center;
}

.join-social img {
  border-radius: 10px;
  margin: 1rem 2rem;
}

.thanks-container {
  background-image: url("../images/hero-images/thank-you-join.jpg");
  height: 100vh;
}

.thanks-container::after {
  background: linear-gradient(-45deg, #55f7cf, #083a2e);
}

.thanks-content {
  display: grid;
}

.thanks-content .thanks-heading,
.contact-hero-content,
.city-hero-content,
.join-hero-content,
.directory-hero-content {
  font-size: 1.5rem;
}

.thanks-heading {
  align-self: end;
}

.thanks-content p:nth-of-type(1) {
  margin-bottom: 1rem;
  font-size: 1.6rem;
}

.thanks-content p:nth-of-type(2) {
  margin-bottom: 1rem;
  align-self: end;
}

/************* Styling Directory Page ****************/
.directory-hero-container {
  background-image: url("../images/hero-images/directory-hero.jpg");
  background-position: 45% 55%;
}

.directory-hero-container::after {
  background: linear-gradient(-45deg, #29ee17, #0b4406);
}

.directory-card-container {
  display: block;
  width: 100%;
  text-align: center;
}

.directory-card {
  margin: 1rem;
  padding: 1rem;
  border: 1px solid #999;
  border-radius: 20px;
  line-height: 1.5;
}

#list-icon,
#grid-icon {
  display: none;
}

.directory-heading {
  text-align: center;
}

.directory-icon {
  display: inline;
  margin-bottom: 1rem;
}

.directory-url {
  display: none;
}

/************* Styling Contact Page ****************/
.contact-hero-container {
  background-image: url("../images/hero-images/contact-hero.jpg");
  background-position: 45% 55%;
}

.contact-hero-container::after {
  background: linear-gradient(-45deg, #eb6d47, #743421);
}

.contact {
  display: grid;
  grid-template-columns: 1fr;
  max-width: 1400px;
  margin: 2rem auto 3rem auto;
  justify-items: center;
}

.contact-form-container {
  color: #03064d;
  padding: 1rem;
  margin-left: 0.8rem;
  width: 95%;
  margin: 1rem auto;
}

.user-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  max-width: 40rem;
}

form label.top {
  display: block;
  color: hsl(214, 97%, 10%);
  font-size: 1rem;
}

form label.top:last-of-type {
  margin-bottom: 1rem;
}

form label.top input,
form label.top select,
form label.top textarea {
  -webkit-appearance: none;
  display: block;
  font-size: 1rem;
  border: none;
  border-bottom: solid 3px #aaa;
  padding: 0.5rem;
  color: hsl(214, 97%, 10%);
  width: 100%;
  max-width: 20rem;
  background-color: hsla(214, 97%, 23%, 0.2);
  line-height: 1.2;
}

form input.submitBtn {
  border: none;
  background-color: #03064d;
  color: white;
  padding: 0.75rem 1.5rem;
  max-width: 20rem;
  text-align: center;
}

form input.submitBtn:hover {
  background: radial-gradient(hsl(214, 97%, 23%), hsl(214, 97%, 50%));
}

form label.top input:required {
  background: hsla(11, 78%, 34%, 0.2);
}
form label.top input:required:valid {
  background: hsla(214, 97%, 23%, 0.2);
}
form label.top textarea:active,
form label.top textarea:focus,
form label input:active,
form label input:focus {
  outline: none;
  border: none;
  padding: 0.5rem;
  box-sizing: border-box;
  border-bottom: 3px solid #03064d;
}

form label.top textarea {
  display: block;
  max-width: 40rem;
  width: 100%;
}

.directors-list-container {
  display: grid;
  grid-template-columns: 1fr;
  width: 90%;
  font-size: 0.9rem;
  color: #03064d;
  margin: 1rem auto;
}

.contact-heading,
.directors-list-container > h2 {
  margin-bottom: 1rem;
}

.directors-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border-top: 1px solid #aaa;
  padding: 0.5rem;
  width: 100%;
}

.directors-name,
.directors-phone,
.directors-website {
  padding: 0.5rem;
}

.directors-list:nth-of-type(odd) {
  background-color: #ddd;
}

.directors-list:first-of-type {
  background-color: hsla(214, 97%, 23%, 0.2);
}

.chamber-info {
  padding: 2rem 0;
  font-size: 1rem;
  width: 90%;
}

.chamber-info p {
  line-height: 1.4;
}

.location-map {
  display: none;
  grid-row: 7/8;
  grid-column: 2/3;
  margin: 1rem 0 1rem 1.5rem;
  justify-self: end;
}

/********** Styling Thanks page of Contact page below**********/
main.thanks-main h2,
main.thanks-main p {
  font-family: "Open Sans", sans-serif;
  text-align: center;
}

main.thanks-main h2 {
  margin-top: 7rem;
  font-size: 1.5rem;
  align-self: flex-end;
}

main.thanks-main p {
  margin: 1rem 0 2rem 0;
  font-size: 0.9rem;
}

.thanks-main {
  background-image: url("../images/hero-images/thank-you-contact.jpg");
  height: 100vh;
}

.thanks-main::after {
  background: linear-gradient(-45deg, #55f7cf, #083a2e);
}

/********** Styling Attribution page**********/
.attribution-main {
  background-image: url("../images/hero-images/thank-you-contact.jpg");
  height: 20vh;
}

.attribution-main::after {
  background: linear-gradient(-45deg, #55f7cf, #083a2e);
}

.attribution-main h2 {
  font-size: 1.4rem;
  justify-self: center;
  align-self: center;
}

.attribution h3 {
  margin-bottom: 0.5rem;
}

.attribution {
  max-width: 1200px;
  margin: 0 auto 1rem auto;
  padding: 2rem;
  color: #05098a;
  font-family: "Open Sans", sans-serif;
}

.attribution-img,
.attribution-info,
.attribution-logo {
  border: 1px solid hsla(0, 0%, 67%, 1);
  padding: 2rem;
  margin-top: 2rem;
}

.attribution li {
  list-style: none;
}

.attribution li,
.attribution a {
  display: block;
}
