@media (min-width: 42em) {
  body {
    font-size: 20px;
  }

  header img {
    /* width: 6rem; */
    margin-right: 0;
  }

  header h1 {
    align-self: center;
    margin-left: 2rem;
  }

  .navigation {
    display: flex;
  }

  .navigation li {
    display: block; /* change state in small view */
    flex: 1 1 auto;
  }

  .navigation .menu,
  #closeBtn {
    display: none;
  }

  .hero-container .hero-image {
    display: block;
  }

  .weather-summary {
    position: absolute;
    top: 20px;
    left: 20px;
    opacity: 0.8;
  }

  .weather-summary .temp-symbol,
  #current-temp {
    font-size: 3rem;
  }

  #current-temp {
    margin-left: 0;
  }

  #city-name {
    font-size: 1.8rem;
  }

  .weather-summary-labels,
  .weather-summary-info {
    font-size: 1rem;
  }

  .forecast-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 75%;
    margin: 1.5rem auto;
  }

  .forecast-heading {
    text-align: left;
  }

  .home-article-box {
    display: block;
  }

  #news-heading {
    text-align: left;
  }

  .home-article-img,
  .article-img {
    width: 35%;
    float: left;
    margin: 1.4rem 2rem 0 1rem;
  }

  .home-article-img {
    width: 25%;
    height: 160px;
  }

  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

  article .home-article-title {
    padding: 3rem 0 1rem 0;
  }

  article p {
    font-size: 1.2rem;
  }

  .event-container {
    width: 60%;
  }

  .contact-container {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
  }

  .location-map {
    display: block;
    margin-right: 2rem;
  }

  .social {
    grid-column: 2/3;
    margin: -9rem -1.5rem 0 -0.5rem;
  }

  /**************** Styling Gallery Page *******************/
  div.gallery-container {
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 2rem;
    margin: 0 4rem;
  }

  div .gallery-box {
    width: 22rem;
  }

  .gallery-image {
    height: 300px;
  }

  /*----------- Styling Form --------------*/
  main.form-main {
    text-align: left;
  }

  form label.top textarea {
    display: block;
    max-width: 24rem;
  }

  main.thanks-main h2 {
    margin-top: 5rem;
    font-size: 1.4rem;
  }

  /*----------- Styling Thanks page --------------*/
  main.thanks-main h2 {
    font-size: 2rem;
  }

  form input.submitBtn {
    margin: 0 0 2rem 2%;
  }

  /*----------- Styling Home page --------------*/
  .home-main .hero-container {
    margin: 2rem 0.5rem 1rem 0.5rem;
  }

  .home-main .town-containers {
    display: grid;
    grid-template-columns: 1fr;
  }

  .home-main .town-containers section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }

  .home-main .town-containers #sodaSprings .town-info {
    grid-column: 2;
    grid-row: 1;
  }

  .home-main .town-containers #sodaSprings img {
    border-radius: 10px 0 0 10px;
  }

  .town-containers section > img {
    height: 100%;
    border-radius: 0 10px 10px 0;
  }

  .town-article-pic {
    float: left;
    margin: 0 1rem;
  }

  .town-containers section img {
    margin-bottom: 0;
  }
}
